<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Example application with SimpleForm and Twitter Bootstrap</title>
  <title>Find Sponsor</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container master-container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag "application" %>
</body>
</html>
